<h1>Create a new landmark!</h1>
<form action="/landmarks" method="post">
  <label for="landmark_name">Landmark Name:</label>
  <input id="landmark_name" type="text" name="landmark[name]"><br><br><br>

  <label for="landmark_year_completed">Enter the year your landmark was completed:</label><br>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]"><br><br>

  <input type="submit" value="Create New Landmark">
</form>
